.viewport-container {
  height: 100px; // Adjust to your needs
  border: 1px solid #ccc;

}

.viewport {
  width: 100%;
  height: 100%;
}

.item {
  height: 50px; // Must match [itemSize]
  line-height: 50px;
  padding: 8px;
  border-bottom: 1px solid #eee;
  background: #333;
  color: #fff;
}

.mat-list-viewport {
  height: 400px;
}
